<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RemoteEduApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RemoteEduApp.styles.css" asp-append-version="true" />
    <script type="module">import pdfjs-dist from https://cdn.jsdelivr.net/npm/pdfjs-dist@4.0.379/+esm </script>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container p-2 d-flex">
                <div class="me-auto p-2">
                    <a href="@string.Concat("/", User.FindFirst("Role").Value, "/MainPage")"><img class="img-fluid" src="/images/logoBlue.png" style="height: 50px;" /></a>
                </div>
                <div class="p-2 d-none d-md-block">
                    <h4 class="mb-0 me-1">@User.FindFirst("Login").Value</h4>
                </div>
                <div class="p-2">
                    <a href="@string.Concat("/", User.FindFirst("Role").Value, "/Profile")?id=@User.FindFirst("Id").Value"><img src="/images/ProfilePic.svg" style="border-radius: 50%; height: 60px; width: 60px" /></a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer mt-5 text-muted">
        <div class="container d-flex justify-content-between">
            <p>&copy; 2024 - RemoteEduApp - by Guselnikov Max</p>
            <a href="https://github.com/gslnkvmx/RemoteeduWebApp"><img class="img-fluid m-2" src="~/images/github.svg" style="height: 30px;" /></a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>